@import "tailwindcss";

:root {
  --background: #211d3a;
  --foreground: #ffffff;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
